When using JavaScript you are able to write HTML functions, if you don't remember ask Google for eg:

Search how to create a html function in javascript...

There are the courses for Javascript:
https://youtu.be/DqaTKBU9TZk?t=1968

using an array for eg: todos. searches all the methods

strings have the same method ability, by using console.log('hello'.toUpperCase()); as an example.

Methods will be used all the time on the job.