When using JavaScript you are able to write HTML functions, if you don't remember ask Google for eg:

Search how to create a html function in javascript...

Leftoff:
https://youtu.be/SBmSRK3feww?t=34933

Operators in JavaScript:
https://www.w3schools.com/js/js_operators.asp

Booleans and if statements for Javascript:
https://youtu.be/SBmSRK3feww?t=13730

Course Project:
https://supersimple.dev/projects/amazon/

Copy of code in course:
https://github.com/SuperSimpleDev/javascript-course/tree/main/2-copy-of-code

using an array for eg: todos. searches all the methods

strings have the same method ability, by using console.log('hello'.toUpperCase()); as an example.

Methods will be used all the time on the job.

Normally use consts in JavaScript unless you wish to change an element then you'll have to use let instead.

Javascript Escape characters:

\' \" \n

In JavaScript you can use ` to create a string.

In JavaScript use single quotes by default, if you need multiple lines then use template strings.

Camel Case is first word not capital second word capital.

Pascal Case is same as camelCase but second word capital PascalCase.

All JavaScript we use camelCase except for one feature we use PascalCase which we will learn later and it will be recorded back here.

kebab-case = lower case but add - not in javascript do we use this but in html and css also in file naming conventions. 

snake_case is underscore it's used in other languages but not in JavaScript.

Const makes code safer and easier to understand but when let it's hard to tell what value is inside of the variable. Best practice is to use const by default and only let when we need to change the variable.

var is the last but it's very old practice.

We can use typeof variables in JavaScript it's also very useful.

Boolean value demonstrates if something is true or false.

if statements decide whether or not to run code based on boolean values true or false...

if statements - create a scope where variables exist. These are present in many programming languages they prevent naming conflicts.

When reassigning a variable in JavaScript you must change from const to let.

Always use triple === in JavaScript.

With Javascript always start classes with .js- it's also important to use buttonELement end with Element for eg;.

Refere to additonal event listeneres in JavaScript to learn more about them...

In JavaScript always do math using numbers never do math with strings...

Follow left off and complete
the writing of code on the lines, to incorporate from left off.
(Starts here -https://youtu.be/SBmSRK3feww?t=29132>

Destructing JavaScript - takes name property out of the object and creates it's own variable.

Line 18 of C:\Users\christopher\Documents\Programming\JavaScript\Scripts\11-todo-list.js

Shorthand property - refer to line 42 
C:\Users\christopher\Documents\Programming\JavaScript\Scripts\11-todo-list.js